.container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 100px;

}
header{
    text-align: center;
}
section{color: yellow;
    background-color: gray;
    text-align: right;

}
.column{
    float: left;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}